/dev_server/node_modules/*
/dev_server/node_modules
/openshift-origin-client-tools-v1.4.1/*
.DS_Store
Install-Docker-on-Linux-Mint.sh
/mousika/_build/*
/mosuika/_build
/mousika/deps/*
/mousika/deps
hermes/*
Presentation.*