body {
  font-family: 'Helvecia', sans-serif;
  font-size: 14pt;

  background-image: "images/bg_2.jpg";
  background-size: cover;
  background-repeat: no-repeat;
}

#app {
    height:400px;
}

/*
  Audio-player
*/
.audio-player {
    display: flex;
    align-items: center;
}

.audio-player button.mute {
    display: block;
    width: 80px;
    height: 80px;
    border: 0;
    background-color: #0af;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
}

.audio-player button.mute .material-icons {
    width: 24px;
    position: relative;
}

button, button:focus, button:active {
    border: 1px solid black;
    background: none;
    outline: none;
    padding: 0;
}

.audio-player .volume-bar {
    margin: 30px;
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 100000px;
    cursor: pointer;
}

.audio-player .volume-bar .fill {
    height: 10px;
    background-color: #0af;
    border-radius: 100000px;
    width: 100%;
}

.audio-player .volume-bar .handle {
    width: 10px;
    height: 10px;
    background-color: #0af;
    border-radius: 100000px;
    margin-left: -5px;
    transform: scale(2);
    transition: all 0.1s;
}

.audio-player .volume-bar .handle:hover {
    background-color: lightblue;
    transform: scale(3);
}

/*
  ProgressCounter
*/
#timer {
    margin-left: auto;
    margin-right: auto;
    color: lightcoral;
    text-align: center;
    z-index: 2;
    font-size: 75px;
    /*font-family: helvetica!important;*/
    font-family: sans-serif!important;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
}

.filling-text {
    animation: fill-text 30s linear;
    animation-timing-function: linear;
}

@keyframes fill-text {
    100% {
        color: lightcoral
    }
    50% {
        color: #e8ed90
    }
    0% {
        color: lightgreen
    }
}

/*
  ProgressBar
*/

.form-group {
  margin-bottom: 0px;
}

.form-group * {
  border: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#progressWrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#progress {
  background-color: lightcoral;
  height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.filling-bar {
    animation: fill-bar 30s linear;
    animation-timing-function: linear;
}

@keyframes fill-bar {
    100% {
        background: lightcoral;
        width: 100%;
    }
    50% {
        background: #e8ed90;
        width: 50%;
    }
    0% {
        background: lightgreen;
        width: 0%;
    }
}
