body {
    font-family: 'Helvecia', sans-serif;
    font-size: 14pt;
    /*!background-image: url("/images/bg_3.jpg");*/
    /*
     * Glass-effect: http://codepen.io/anon/pen/jmyerq
     *
     */
    background-size: cover;
    background-repeat: no-repeat;
}

#app {
    height: 400px;
}

.container {
    padding: 0px !important;
}

#Page {
    margin-top: 80px;
}


/*
  Audio-player
*/

.audio-player {
    height: 50px;
    background: #00aaff4d;
}

.audio-player button.mute {
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #0af;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    float: left;
}

.audio-player button.mute .material-icons {
    width: 24px;
    position: relative;
}

button, button:focus, button:active {
    border: 1px solid black;
    background: none;
    outline: none;
    padding: 0;
}

.audio-player .volume-bar {
    margin: 10px;
    width: calc(100% - 70px);
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    float: left;
}

.audio-player .volume-bar .fill {
    height: 30px;
    background-color: #0af;
    width: 100%;
}

.audio-player .volume-bar .handle {
    width: 10px;
    height: 30px;
    background-color: #0af;
    transform: scale(1);
    transition: all 0.1s;
    margin-left: -5px;
}

.audio-player .volume-bar .handle:hover {
    background-color: lightblue;
    transform: scale(1.5);
}


/*
  ProgressCounter
*/

#timer {
    margin-left: auto;
    margin-right: auto;
    color: lightcoral;
    text-align: center;
    z-index: 2;
    font-size: 75px;
    font-family: sans-serif!important;
    font-style: normal;
    font-weight: 700;
}

.filling-text {
    animation: fill-text 30s linear;
    animation-timing-function: linear;
}

@keyframes fill-text {
    100% {
        color: lightcoral
    }
    50% {
        color: #e8ed90
    }
    0% {
        color: lightgreen
    }
}


/*
  ProgressBar
*/

.form-group {
    margin-bottom: 0px;
}

.form-group * {
    border: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#progressWrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#progress {
    background-color: lightcoral;
    height: 5px;
    margin-top: 0px;
    padding: 0px;
}

.filling-bar {
    animation: fillBar 30s linear;
    animation-timing-function: linear;
}

@keyframes fillBar {
    100% {
        background: lightcoral;
        width: 100%;
    }
    50% {
        background: #e8ed90;
        width: 50%;
    }
    0% {
        background: lightgreen;
        width: 0%;
    }
}


/*
 *
 * user input feedback
 *
 */

.filling-error-odd {
    animation: fill-error-odd 3s cubic-bezier(.08, .82, .17, 1);
}

.filling-error-even {
    animation: fill-error-even 3s cubic-bezier(.08, .82, .17, 1);
}

@keyframes fill-error-odd {
    from {
        background-color: lightcoral;
    }
    to {
        background-color: white;
    }
}

@keyframes fill-error-even {
    from {
        background-color: lightcoral;
    }
    to {
        background-color: white;
    }
}

.filling-correct {
    animation: fill-correct 3s cubic-bezier(.08, .82, .17, 1);
}

@keyframes fill-correct {
    from {
        background-color: lightgreen;
    }
    to {
        background-color: white;
    }
}


/*
 *
 * Menu bar
 *
 */

@media (min-width:992px) {
    #GameMechanic {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #footer {
        width: 54px;
        background-color: #808080;
        position: absolute;
        left: calc(100% - 54px);
        top: 0px;
        float: none;
        padding-top: 75px;
        height: 100%;
    }
    #GameView {
        height: calc(100vh - 150px);
        /* height: calc(100vh - 150px);*/
    }
}

#footer>li+li {
    margin: 0px !important;
}

#footer>li>a {
    border-radius: 0px;
}

#footer>li>a>i {
    color: white;
}

@media (max-width: 991px) {
    #footer {
        float: left;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: red;
        bottom: 0;
    }
    #Page {
        margin-bottom: 50px;
    }
}


/*
 *
 * Header
 *
 */

#header {
    box-shadow: 0px 0px 10px 5px #888888;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.navbar-header {
    width: 150px !important;
    float: left;
}


/*
 *
 * Previously Played
 *
 */

#previouslyPlayed {
    margin: 0px;
    padding: 5px;
    background: darkgray;
    height: 160px;
}

#albumCover {
    float: left;
    background: red;
    height: 150px;
    width: 150px;
    position: relative;
}

.prevPlayed {
    font-family: Arial;
    font-size: 20px;
    font-style: bold;
    font-weight: bold;
}

#prevArtistTitle {
    margin-bottom: 15px;
}

#Record {
    font-size: 15px;
    color: lightgreen;
}


/*
 *
 * Game View
 *
 */

#GameView {
    background-color: grey;
    margin-right: 0px;
    width: 100%;
}
